<iframe class="iframe" height="100%" width="100%"></iframe>
<div class="toolbar">
    <div class="toolbar_buttons" style="display:none;">
        <i on-click="exec:{{"bold"}}" class="fa fa-bold"></i>
        <i on-click="exec:{{"underline"}}" class="fa fa-underline"></i>
        <i on-click="exec:{{"italic"}}" class="fa fa-italic"></i>
    </div>
    
    <span on-click="toggle_toolbar" id="toggle_toolbar"><i class="fa fa-file-text"></i></span>

</div>
