<iframe class="iframe" height="100%" width="100%"></iframe>

<div class="toolbar">
    <div class="toolbar_buttons" style="display:none;">
        <input id="toggle_inserthtml" placeholder="HTML" on-keydown="inserthtml" value="{{insert_html}}" style="display:none;" />
        <i on-click="toggle:{{"inserthtml"}}" class="fa fa-code"></i>
        <input id="toggle_insertimage" placeholder="Image URL" on-keydown="insertimage" value="{{image_url}}" style="display:none;" />
        <i on-click="toggle:{{"insertimage"}}" class="fa fa-image"></i>
        <i on-click="exec:{{"unlink"}}" class="fa fa-unlink"></i>
        <input id="toggle_createlink" placeholder="URL" on-keydown="createlink" value="{{link_url}}" style="display:none;" />
        <i on-click="toggle:{{"createlink"}}" class="fa fa-chain"></i>
        <i on-click="exec:{{"bold"}}" class="fa fa-bold"></i>
        <i on-click="exec:{{"underline"}}" class="fa fa-underline"></i>
        <i on-click="exec:{{"italic"}}" class="fa fa-italic"></i>
        <i on-click="exec:{{"indent"}}" class="fa fa-indent"></i>
        <i on-click="exec:{{"outdent"}}" class="fa fa-outdent"></i>
        <i on-click="exec:{{"undo"}}" class="fa fa-undo"></i>
        <i on-click="exec:{{"redo"}}" class="fa fa-repeat"></i>
    </div>
    
    <span on-mouseover="toggle:{{"toolbar"}}" id="toggle_toolbar"><i class="fa fa-angle-double-left"></i></span>

</div>
