<div class="view">
    <h1>{{group.name}} Group Settings</h1>
    <hr />
    {{#no_such_group}}
    Unknown group.<br />
    Return to the <a href="/#settings">settings</a> view?<br />
    {{/no_such_group}}
    {{#server_unavailable}}
    Server unavailable.<br />
    {{/server_unavailable}}
    {{#can_modify_usergroup}}
    <div on-mouseover="select:{{"heading"}}" on-mouseout="select:{{"heading"}}">
    <h2>Users
        <button class="button big_button pull-right" on-click="toggle:{{"users"}}">{{users_button}}</button>
    <button id="delete-button" style="display:none;" class="button pull-right" on-click="delete:{{"group"}}">Delete</button>
    </div>
    </h2>
    {{#showing_users}}
    <table class="scrollable">
        <tbody>
        {{#group.users}}
            <tr><td>{{this}}</td></tr>
        {{/group.users}}
        </tbody>
    </table>
    {{/showing_users}}

    <h2>Privileges
        <button class="button big_button pull-right" on-click="toggle:{{"privileges"}}">{{privileges_button}}</button>
    </h2>
    {{#showing_privileges}}
    <div class="scrollable privileges-container">
        <table class="current-privileges">
            <tbody>
            {{#group.privileges}}
            <tr on-mouseover="select:{{"priv"}},{{@index}}" on-mouseout="select:{{"priv"}},{{@index}}" id="group-{{@index}}">
                <td class="draggable">{{this.key}}</td>
                    <td class="priv-{{@index}}">
                        <span id="priv-text-{{@index}}">{{#if this.value}}Allowed{{else}}Denied{{/if}}</span>
                        <button on-click="toggle_allowed:{{@index}}" style="visibility:hidden" class="button big_button" id="priv-button-{{@index}}">
                            {{#if this.value}}Deny{{else}}Allow{{/if}}
                        </button>
                    </td>
                    <td>
                        <button on-click="remove:{{@index}}" style="visibility:hidden" class="button bigger_button" id="remove-priv-button-{{@index}}">
                        Remove
                        </button>
                    </td>
             </tr>
            {{/group.privileges}}
            </tbody>
        </table>
    
        <div class="available-privileges">
            {{#privileges}}
                <div id="privilege-{{@index}}" class="draggable privilege {{#if @index % 2}}pull-right{{/if}}">
                    {{this.name}}
                </div>
            <br />
            {{/privileges}}
        </div>
    </div>
    {{/showing_privileges}}
    {{/can_modify_usergroup}}
</div>
