{{#user.username}}
<div class="main_inner">
    <span class="title">Hello {{user.username}}.</span>
    It's good to see you.<br />
    <input class="main_addressbar" on-keydown="request" value="{{url}}" spellcheck="false" placeholder="URL"/>
</div>
<div class="index_overview">
    <table class="wide table">
        <tbody>
            {{#revisions}}
            <tr>
                <td><a href="/v1/revisions/{{hash}}/content">{{url}}</a></td>
                <td>{{mimetype}}</td>
                <td><a id="dark-text" href="#user/{{user}}">{{user}}</a></td>
            </tr>
            {{/revisions}}
            {{^revisions}}No revisions.{{/revisions}}
        </tbody>
    </table>
    <div class="center">
        {{#back_available}}
            <a on-click="back">Back</a>
            {{#forward_available}}
            /
            {{/forward_available}}
        {{/back_available}}
        {{#forward_available}}
            <a on-click="forward">Forward</a>
        {{/forward_available}}
    </div>
    {{#paging_error}}Server unavailable.{{/paging_error}}
</div>
{{/user.username}}

{{^user.username}}
<span class="title">Hello. <button class="button pull-right" onclick="window.location.href='/#login'">Log in</button></span>
<br />
Synchrony is a collaborative hyperdocument editor for decentralising the web.<br /><br />
<!--
<ol>
	<li>A backend database.</li>
	<li>A peer-to-peer network.</li>
</ol>
-->
Enjoy playing with existing web pages with your friends and family, decentralising the web in the process.
<br /><br />
Made with love by <a href="http://psybernetics.org">Psybernetics</a>.
{{/user.username}}
