<div class="row main_inner dark_text">
<span class="dark title">Log in{{#if new_accounts}} or create an account{{else}} for great success{{/if}}</span>
<div class="col-md-6">
<form class="form-horizontal" name="create">
 <div class="form-group">
    <label class="col-sm-2 control-label">Existing account</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputUSername3" name="username" placeholder="Username" value="{{username0}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="pass1" placeholder="Password" value="{{pass0}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="button big_button" on-click="login">Log in</button>
    </div>
  </div>
</form>
</div>
{{#if new_accounts}}
<div class="col-md-6">
<form class="form-horizontal" name="create">
  <div class="form-group">
    <label class="col-sm-2 control-label">New account</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputUSername3" name="username" placeholder="Username" value="{{username1}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="pass1" placeholder="Password" value="{{pass1}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" name="pass2" placeholder="Confirm" value="{{pass2}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="button big_button" on-click="create">Create</button>
    </div>
  </div>
</form>
</div>
{{/if}}
<div class="login-message">{{message}}</div>
</div>
