<h2>Notifications</h2>
<button class="pull-right clickable button big_button close-button" on-click="close:{{"modal"}}">&times;</button>
<div class="message-container">
    {{#messages}}
    <span id="message">
        {{&this}}
        <button class="clickable button big_button" on-click="close:{{@index}}">&times;</button>
    </span>
    <br />
    {{/messages}}
    {{^messages}}
    <div class="center">No new notifications.</div>
    {{/messages}}
</div>
