<div class="view">
    <h1>Peers and Downloads</h1>
    <hr />
    {{#peers.length}}
           <h2>Peer Browser</h2>
            <table>
                <tbody>
                    {{#peers}}
                        <tr on-mouseover="show_peer:{{@index}}" on-mouseout="hide_peer:{{@index}}" id="peer-{{@index}}">
                            <td>{{this.node[1]}}</td>
                            <td>{{this.node[2]}}</td>
                            <td>{{this.trust}}</td>
                        </tr>
                    {{/peers}}
                </tbody>
            </table>
    {{/peers.length}}

    <h2>Downloads</h2>
    {{#selection}}
    <div class="selection">
        <table>
            <tbody>
                <tr>
                    <td>Network:</td>
                    <td>{{this.network}}</td>
                </tr>
                <tr>
                    <td>URL:</td>
                    <td>{{this.url}}</td>
                </tr>
            </tbody>
        </table>
        {{#this.hashes}}
        <table>
            <tbody>
                <tr> 
                    <td>Version:<td>
                    <td>{{hash}}</td>
                    {{#peers}}
                    <td>{{this}}</td>
                    {{/peers}}
                </tr>
            </tbody>
        </table>
        <br />

        {{/this.hashes}}
    </div>

    <br />

    {{/selection}}

    Click or tap a URL to display versions that have been downloaded.<br />
    {{! "downloads" is an array of [network-name, [{url:{hash:[peers]} }]] mappings}}
    {{! not particularly suited for being reasoned about in Moustache templates.}}
    {{#downloads}}
        <table>
        {{this.network}}<br />
        <tbody id="{{@index}}">
                {{#this.downloads}}
                    {{#this:url}}
                        {{! Things like id="{ { url } }" produces invalid selectors. Selection has to happen by function instead. }}
                        <tr>
                            <td class="clickable" on-mouseover="select:{{"url"}},{{url}}">{{url}}</td>
                            <td>{{this}}</td>
                       </tr>
                    {{/this}}
                {{/this.downloads}}
            </tbody>
        </table>
    {{/downloads}}
</div>
