<div class="view">
    <h1>Node Settings</h1>
    <hr />
    <h2>Accounts <button on-click="toggle:{{"accounts"}}" class="button big_button pull-right">{{accounts_button}}</button></h2>
    {{#showing_accounts}}
        {{#toggle_signups_permitted}}
        <form>
            <h3>Permit new signups</h3>
            <label><input on-click="toggle_signups:{{true}}"  type="radio" checked="{{#if allow_signups}}true{{else}}false{{/if}}"><strong>Allow</strong></label>
            <label><input on-click="toggle_signups:{{false}}" type="radio" checked="{{#if allow_signups}}false{{else}}true{{/if}}"><strong>Deny</strong></label>
        </form><br />
        {{/toggle_signups_permitted}}
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Revisions</td>
                <td>Public Revisions</td>
                <td>Status</td>
                <td>Created</td>
                <td>Active</td>
            </tr>
        {{#accounts}}
            <tr on-mouseover="select:{{"user"}},{{@index}}" on-mouseout="select:{{"user"}},{{@index}}" id="user-{{@index}}">
                <td><a href="/#user/{{username}}">{{username}}</a></td>
                <td>{{revisions}}</td>
                <td>{{public_revisions}}</td>
                <td>{{status}}</td>
                <td>{{created}}</td>
                <td class="active-{{@index}}">
                    <span id="user-text-{{@index}}">{{#if active}}Yes{{else}}No{{/if}}</span>
                    <button on-click="toggle_active:{{@index}}" style="display:none;" class="button big_button" id="user-button-{{@index}}">
                    {{#if active}}No{{else}}Yes{{/if}}
                    </button>
                </td>
            </tr>
        {{/accounts}}
        </tbody>
    </table>
    <div class="center">
        {{#accounts_back_available}}
        <a on-click="back:{{"accounts"}}">Back</a>
            {{#accounts_forward_available}}
            /
            {{/accounts_forward_available}}
        {{/accounts_back_available}}
        {{#accounts_forward_available}}
        <a on-click="forward:{{"accounts"}}">Forward</a>
        {{/accounts_forward_available}}
    </div>
    {{#accounts_paging_error}}Server unavailable.Try refreshing the page.{{/revisions_paging_error}}
    {{#accounts_error}}<em>{{accounts_error}}</em>{{/accounts_error}}

    {{/showing_accounts}}
    <h2>Groups <button on-click="toggle:{{"groups"}}" class="button big_button pull-right">{{groups_button}}</button></h2>
    {{#showing_groups}}
    <ul>
        <li>Move users between groups</li>
    </ul>
    <table>
        <tbody>
            {{#groups}}
            <tr>
                <td><a href="/#group/{{name}}">{{name}}</a></td>
                <td>{{created}}</td>
            </tr>
            {{/groups}}
        </tbody>
    </table>
    <h4>Create a new group</h4>
    <input class="main_addressbar" on-keydown="add_group" value="{{group_name}}" spellcheck="false" placeholder="Name">
    {{/showing_groups}}
    <h2>Networks <button on-click="toggle:{{"networks"}}" class="button big_button pull-right">{{networks_button}}</button></h2>
    {{#showing_networks}}
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Node ID</td>
                <td>Peers</td>
                <td>Private</td>
            </tr>
    {{#networks}}
            <tr on-mouseover="select:{{"network"}},{{@index}}" on-mouseout="select:{{"network"}},{{@index}}" id="network-{{@index}}">
                <td><a href="/#settings/{{name}}">{{name}}</a></td>
                <td>{{node_id}}</td>
                <td>{{peers}}</td>
                <td id="public-network-{{@index}}">
                    <span id="public-network-text-{{@index}}">{{#if private}}Yes{{else}}No{{/if}}</span>
                    <button on-click="toggle_public:{{@index}}" style="visibility:hidden" class="button big_button" id="public-network-button-{{@index}}">
                        {{#if private}}Private{{else}}Public{{/if}}
                    </button>
                </td>
            </tr>
    {{/networks}}
        </tbody>
    </table>

    
    <h4>Create a new network</h4>
    <input class="main_addressbar" on-keydown="add_network" value="{{network_name}}" spellcheck="false" placeholder="Name">
  
    {{/showing_networks}}
    {{#downloads_permitted}}
    <h2>Downloads<button on-click="toggle:{{"downloads"}}" class="button big_button pull-right">{{downloads_button}}</button></h2>
    {{#showing_downloads}}
    {{#selection}}
    <div class="selection">
        <table>
            <tbody>
                <tr>
                    <td>Network:</td>
                    <td>{{this.network}}</td>
                </tr>
                <tr>
                    <td>URL:</td>
                    <td>{{this.url}}</td>
                </tr>
            </tbody>
        </table>
        {{#this.hashes}}
        <table>
            <tbody>
                <tr> 
                    <td>Version:<td>
                    <td on-click="decrement:{{hash}}" class="clickable red">{{hash}}</td>
                    {{#peers}}
                    <td>{{this}}</td>
                    {{/peers}}
                </tr>
            </tbody>
        </table>
        {{/this.hashes}}
        <div class="advice">
        Please be aware that marking a revision (and by extension the peer who served it) as bad
        has network-wide consequences for the serving peer.<br />
        This feedback is not taken lightly and
        cannot be undone too easily. Please exercise caution when marking a peer as untrustworthy.
        </div>
        {{decrement_error}}
    </div>
    {{/selection}}

    Click or tap a URL to display versions from the overlay network.<br />
    {{! "downloads" is an array of [network-name, [{url:{hash:[peers]} }]] mappings}}
    {{! not particularly suited for being reasoned about in Moustache templates.}}
    {{#downloads}}
        <table>
            <span class="green">{{this.network}}</span><br />
            <tbody id="{{@index}}">
                {{#this.downloads}}
                    {{#this:url}}
                        {{! Things like id="{ { url } }" produces invalid selectors. Selection has to happen by function instead. }}
                        <tr>
                            <td class="clickable blue" on-click="select:{{"url"}},{{url}}">{{url}}</td>
                            <td></td>
                        </tr>
                    {{/this}}
                {{/this.downloads}}
            </tbody>
        </table>
    {{/downloads}}
    {{/showing_downloads}}
    {{/downloads_permitted}}

    <h2>Miscellaneous Settings <button on-click="toggle:{{"misc"}}" class="button big_button pull-right">{{misc_button}}</button></h2>
    {{#showing_misc}}
    <h3>Open Proxy</h3>
    This setting determines whether an account is needed in order to use the <em>/request/&lt;path:url&gt;</em> endpoint
    on this server.
    <form>
        <label><input on-click="toggle_open_proxy:{{true}}"  type="radio" checked="{{#if open_proxy}}true{{else}}false{{/if}}"><strong>Open</strong></label>
        <label><input on-click="toggle_open_proxy:{{false}}" type="radio" checked="{{#if open_proxy}}false{{else}}true{{/if}}"><strong>Closed</strong></label>
    </form>
 
    <h3>HTTP Timeout</h3>
    This setting determines how long to wait for other servers to serve resources.
    <form>
        <input id="number" on-keyup="set_http_timeout" on-click="set_http_timeout" value="{{http_timeout}}" size="4" type="number"/>
    </form>

    <h3>No Prisoners</h3>
    This setting determines whether, when marking a resource as malicious, to set remote peers&#39; trust rating to 0.00 instead of decrementing
    by the value defined as epsilon internally. This can limit the amount peers available to download from.
    <form>
        <label><input on-click="toggle_no_prisoners:{{true}}"  type="radio" checked="{{#if no_prisoners}}true{{else}}false{{/if}}"><strong>No Prisoners</strong></label>
        <label><input on-click="toggle_no_prisoners:{{false}}" type="radio" checked="{{#if no_prisoners}}false{{else}}true{{/if}}"><strong>Tolerant</strong></label>
    </form>
    
    <h3>Disable JavaScript</h3>
    This setting determines whether external pages will have their &lt;script&gt; tags removed before being served.
    <form>
        <label><input on-click="toggle_javascript:{{true}}"  type="radio" checked="{{#if disable_javascript}}false{{else}}true{{/if}}"><strong>Enabled</strong></label>
        <label><input on-click="toggle_javascript:{{false}}" type="radio" checked="{{#if disable_javascript}}true{{else}}false{{/if}}"><strong>Disabled</strong></label>
    </form>
   {{/showing_misc}}
 </div>
