<img class="fish" src="/static/img/synchrony.png" onmouseover="javascript:toggle_synchrony();"/>
<div class="control_panel" style="display: none;"> 

{{^showing_friends}}
<span class="synchrony_buttons">
    {{#showing_home_button}}
    <a href="/#"><button class="button big_button">Home</button></a><br />
    {{/showing_home_button}}
    {{#showing_settings_button}}
    <button class="button big_button" on-click="settings">Settings</button><br />
    {{/showing_settings_button}}
    {{#showing_hide_button}}
	<button class="button big_button show-hide" on-click="show_hide">Show</button><br />
    {{/showing_hide_button}}
    {{#showing_edit_button}}
	<button class="button big_button edit_button" on-click="edit">{{edit_button}}</button><br />
    {{/showing_edit_button}}
    {{#showing_save_button}}
	<button class="button big_button edit_button" on-click="save">Save</button><br />
    {{/showing_save_button}}
	<button class="button big_button" on-click="chat">Chat</button><br />
	<button class="button big_button" on-click="friends">Friends</button><br />
	<button class="button big_button" on-click="logout">Log out</button><br />
</span>
{{/showing_friends}}
<span>
	<a id="profile_link" href="/#user/{{Config.user.username}}">
        <img src="/v1/users/{{Config.user.username}}/avatar" class="small circular" />
        {{Config.user.username}}
    </a><br />
    {{peers}} DHT peers.<br />
    {{domains}} domains.<br />
	<br />
</span>
{{#showing_friends}}
<span class="synchrony_buttons">
	<button class="button big_button" on-click="friends">Back</button><br />
</span>
<div class="friends_list">
    <input on-keydown="filter_friends" value="{{filter_value}}" class="search" placeholder="Filter . . ." />
    <br /> 
    {{#friends.visible_list}}
        {{name}}
        <hr />
    {{/friends.visible_list}}
</div>
{{/showing_friends}}
<div class="stream">
    {{#stream}}
        {{&this}}<br />
    {{/stream}}
</div> 

<form><input class="addressbar" on-keydown="request" value="{{url}}" size="25" placeholder="url" spellcheck="false"></input></form>
</div>


