 <div class="view">
    {{#show_settings}}
    <h1>Account Settings</h1>
    <hr />
    <div class="filedrop">
        <h2>
            Revisions
            <button on-click="toggle:{{"revisions"}}" class="button big_button pull-right">{{revisions_button}}</button>
        </h2>
        <span class="small-text center">{{revision_upload_message}}</span>
        {{#showing_revisions}}
        <form>
            <input class="search" on-keydown="search_revisions" value="{{search_query}}" size="25" placeholder="Search..." spellcheck="false">
        </form>
        <form class="pull-right upload_revision" on-submit="create_revision" action="/v1/users/{{username}}/revisions" method="post" enctype="multipart/form-data">
          <input type="file" name="revision" accept="*">
          <input class="button" type="submit">
        </form>
        <table class="scrollable">
           <tbody>
                <tr>
                    <td>URL</td>
                    <td>MIME</td>
                    <td></td>
                    <td>Public</td>
                    <td></td>
                </tr>
                {{#revisions}}
                <tr on-mouseover="select:{{"revision"}},{{@index}}" on-mouseout="select:{{"revision"}},{{@index}}" id="revision-{{@index}}">
                    <td><a class="blue" href="/v1/revisions/{{hash}}/content">{{url}}</a></td>
                    <td>{{mimetype}}</td>
                    <td>{{network}}</td>
                    <td id="public-revision-{{@index}}">
                        <span id="public-revision-text-{{@index}}">{{#if public}}Yes{{else}}No{{/if}}</span>
                        <button on-click="toggle_public:{{@index}}" style="visibility:hidden" class="button big_button" id="public-revision-button-{{@index}}">
                            {{#if public}}Public{{else}}Private{{/if}}
                        </button>
                    </td>
                    <td id="delete-revision-{{@index}}" style="visibility:hidden"><button class="button big_button" on-click="delete:{{"revision"}},{{@index}}">Delete</button></td>
                </tr>
                {{/revisions}}
                {{^revisions}}No revisions.{{/revisions}}
            </tbody>
        </table>
        <div class="center">
            {{#revisions_back_available}}
            <a on-click="back:{{"revisions"}}">Back</a>
                {{#revisions_forward_available}}
                /
                {{/revisions_forward_available}}
            {{/revisions_back_available}}
            {{#revisions_forward_available}}
            <a on-click="forward:{{"revisions"}}">Forward</a>
            {{/revisions_forward_available}}
        </div>
        {{#revisions_paging_error}}Server unavailable.Try refreshing the page.{{/revisions_paging_error}}
        <form>
            <h4>Public by default</h4>
            <label><input on-click="toggle_auto_public:{{true}}"  type="radio" checked="{{#if public_revisions}}true{{else}}false{{/if}}"><strong>Yes</strong></label>
            <label><input on-click="toggle_auto_public:{{false}}" type="radio" checked="{{#if public_revisions}}false{{else}}true{{/if}}"><strong>No</strong></label>
        </form><br />
        {{/showing_revisions}}
    </div>

    <h2>Friends<button on-click="toggle:{{"friends"}}" class="button big_button pull-right">{{friends_button}}</button></h2>
    {{#showing_friends}}
    <table>
       <tbody>
            {{#friends}}
            <tr on-mouseover="select:{{"friend"}},{{@index}}" on-mouseout="select:{{"friend"}},{{@index}}" id="friend-{{@index}}">
                <td>{{address}}</td>
                <td on-mouseover="toggle_rename:{{"friend"}},{{@index}}" on-mouseout="toggle_rename:{{"friend"}},{{@index}}">
                    <input id="friend-rename-{{@index}}" style="display:none" size="15" on-keydown="rename:{{"friend"}},{{@index}}" value="{{new_name}}"/>
                    <span  id="friend-name-{{@index}}">{{name}}</span>
                </td>
                <td>{{status}}</td>
                <td>{{created}}</td>
                <td>
                    <div id="friend-menu-{{@index}}" style="display:none" class="menu">
                        <ul>
                            {{#if status == "Added"}}
                            <li on-click="initiate_collab:{{@index}}">Collaborate</li>
                            <li on-click="initiate_chat:{{@index}}">Chat</li>
                            <li on-click="toggle_blocked_friend:{{@index}}">Block</li>
                            {{/if}}
                            {{#if received}}
                                {{#if status == "Pending"}}
                                <li on-click="accept_friend:{{@index}}">Accept</li>
                                {{/if}}
                            {{/if}}
                            {{#if status == "Blocked"}}
                            <li on-click="toggle_blocked_friend:{{@index}}">Unblock</li>
                            {{/if}}
                            <li on-click="delete:{{"friend"}},{{@index}}">Delete</li>
                        </ul>
                    </div>
                    <button id="friend-menu-button-{{@index}}" class="button big_button" style="visibility:hidden" on-click="toggle_menu:{{"friend"}},{{@index}}">Menu</button>
                </td>
            </tr>
            {{/friends}}
            {{^friends}}Add some friends to get the benefit of direct-to-peer communications.{{/friends}}
        </tbody>
    </table>
    <div class="center">
        {{#friends_back_available}}
        <a on-click="back:{{"revisions"}}">Back</a>
            {{#friends_forward_available}}
            /
            {{/friends_forward_available}}
        {{/friends_back_available}}
        {{#friends_forward_available}}
        <a on-click="forward:{{"revisions"}}">Forward</a>
        {{/friends_forward_available}}
    </div>
    {{#friends_paging_error}}Server unavailable.Try refreshing the page.{{/friends_paging_error}}
    <br />
    <table>
        <tbody>
            {{#user_addresses}}
            <tr><td>{{#if @index == 0}}Your addresses:{{/if}}</td><td>{{this}}</td></tr>
            {{/user_addresses}}
        </tbody>
    </table>
    {{!Technically an address bar..}}
    <input class="main_addressbar" on-keydown="add_friend" value="{{friend_addr}}" spellcheck="false" placeholder="Network / Node ID / User ID">
    {{add_friend_message}}
    {{/showing_friends}}

    <h2>Avatar<button on-click="toggle:{{"avatar"}}" class="button big_button pull-right">{{avatar_button}}</button></h2>
    {{#showing_avatar}}
    <img class="avatar circular" src="/v1/users/{{username}}/avatar" />
    <form on-submit="update_avatar" action="/v1/users/{{username}}/avatar" method="post" enctype="multipart/form-data">
      <input class="button" type="file" name="avatar" accept="image/*">
      <input class="button" type="submit">
    </form>
    {{/showing_avatar}}

    <h2>Sessions<button on-click="toggle:{{"sessions"}}" class="button big_button pull-right">{{sessions_button}}</button></h2>
    {{#showing_sessions}}
    <table>
        <tbody>
            {{#sessions}}
            <tr on-mouseover="select:{{"session"}},{{@index}}" on-mouseout="select:{{"session"}},{{@index}}" id="session-{{@index}}">
                <td>{{ip}}</td>
                <td>{{user_agent}}</td>
                <td>{{created}}</td>
                <td id="delete-session-{{@index}}" style="visibility:hidden"><button class="button big_button" on-click="delete:{{"session"}},{{@index}}">Delete</button></td>
            </tr>
            {{/sessions}}
            {{^sessions}}No sessions..{{/sessions}}
        </tbody>
    </table>
    <div class="center">
        {{#sessions_back_available}}
        <a on-click="back:{{"sessions"}}">Back</a>
            {{#sessions_forward_available}}
            /
            {{/sessions_forward_available}}
        {{/sessions_back_available}}
        {{#sessions_forward_available}}
        <a on-click="forward:{{"sessions"}}">Forward</a>
        {{/sessions_forward_available}}
    </div>
    {{#sessions_paging_error}}Server unavailable. Try refreshing the page.{{/sessions_paging_error}}
    {{/showing_sessions}}

    <h2>Password<button on-click="toggle:{{"password"}}" class="button big_button pull-right">{{password_button}}</button></h2>
    {{#showing_password}}
    <form class="form-horizontal" name="create">
          <input type="password" size="10" class="form-control" id="inputPassword" name="pass1" placeholder="Current Password" value="{{pass0}}">
          <input type="password" class="form-control" id="inputPassword" name="pass1" placeholder="New Password" value="{{pass1}}">
          <input type="password" class="form-control" id="inputPassword3" name="pass2" placeholder="Confirm" value="{{pass2}}">
          <button type="submit" class="button" on-click="change_password">Change</button>
    </form>
    <div class="message">{{password_message}}</div>
    {{/showing_password}}
    {{/show_settings}}
    {{#show_profile}}
    {{^profile_error}}
        <h1>{{user.username}}</h1>
        <hr />
        <h2>Summary</h2>
        <table>
            <tr><td>Active</td><td>{{#if user.active}}Yes{{else}}No{{/if}}</td></tr>
            <tr><td>Status</td><td>{{user.status}}</td></tr>
            <tr><td>Joined</td><td>{{user.created}}</td></tr>
            <tr><td>Address</td><td>{{user.address}}</td></tr>
        </table>

        {{#user.user_groups.length}}
        <h2>User Groups</h2>
        <table>
            <tbody>
                {{#user.user_groups}}
                <tr>
                    <td>{{this.name}}</td>
                </tr>
                {{/user.user_groups}}
            </tbody>
        </table>
        {{/user.user_groups.length}}

        {{#user.sessions.length}}
        <h2>Sessions<button on-click="toggle:{{"sessions"}}" class="button big_button pull-right">{{sessions_button}}</button></h2>
        {{#showing_sessions}}
        <table>
            <tbody>
                {{#user.sessions}}
                <tr on-mouseover="select:{{"session"}},{{@index}}" on-mouseout="select:{{"session"}},{{@index}}" id="session-{{@index}}">
                    <td>{{this.ip}}</td>
                    <td>{{this.user_agent}}</td>
                    <td>{{this.created}}</td>
                    <td id="delete-session-{{@index}}" style="visibility:hidden"><button class="button big_button" on-click="delete:{{"session"}},{{@index}}">Delete</button></td>
                </tr>
                {{/sessions}}
                {{^user.sessions}}No sessions..{{/user.sessions}}
            </tbody>
        </table>
        <div class="center">
            {{#sessions_back_available}}
            <a on-click="back:{{"sessions"}}">Back</a>
                {{#sessions_forward_available}}
                /
                {{/sessions_forward_available}}
            {{/sessions_back_available}}
            {{#sessions_forward_available}}
            <a on-click="forward:{{"sessions"}}">Forward</a>
            {{/sessions_forward_available}}
        </div>
        {{#sessions_paging_error}}Server unavailable. Try refreshing the page.{{/sessions_paging_error}}
        {{/showing_sessions}}
        {{/user.sessions.length}}

        {{#can_reset_user_pw}}
        <h2>Password<button on-click="toggle:{{"password"}}" class="button big_button pull-right">{{password_button}}</button></h2>
        {{#showing_password}}
        <form class="form-horizontal" name="create">
              <input type="password" size="10" class="form-control" id="inputPassword" name="pass1" placeholder="Current Password" value="{{pass0}}">
              <input type="password" class="form-control" id="inputPassword" name="pass1" placeholder="New Password" value="{{pass1}}">
              <input type="password" class="form-control" id="inputPassword3" name="pass2" placeholder="Confirm" value="{{pass2}}">
              <button type="submit" class="button" on-click="change_password">Change</button>
        </form>
        <div class="message">{{password_message}}</div>
        {{/showing_password}}
        {{/can_reset_user_pw}}
    {{/profile_error}}
    {{#profile_error}}
    {{/profile_error}}
    {{/show_profile}}
</div>
