.chat-container {
	overflow: hidden;
	position:fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}
.chat {
	position:absolute;
	top: 10%;
	left: 25%;
	height: 70%;
	width: 50%;
	overflow: auto;
/*
	position: fixed;
	left: 25%;
	top: 1%;
	width: 50%;
*/
/*	background-color: rgba(34, 34, 34, 0.92); */
	background-color: rgba(230, 230, 230, 0.92);
	color: #4B4E52;
	overflow: auto;
	z-index: 50;
	border: none;
	outline: 0px solid transparent;
	display: inline-block;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-container > video {
    width: 50%;
    height: 100%;
    background-color: #292929;
    z-index: 10;
}

.chat::after {
	content: "";
	display: table;
	clear: both;
}

.chat::-webkit-scrollbar {
	display: none;
}

.chat-settings-panel {
	margin: 14px;
}

.chat-messages {
/*	padding-top: 300px; /*the height of the absolutly positioned child*/ ;
	position:relative;
*/
	position: initial;
/*	margin-bottom: 50%; */
	margin-left: 2px;
	color: #4B4E52;
}
.chat-messages a {
	text-decoration: none;
	color: #7099E2;
}
.chat-messages table {
    width: 100%;
}
.chat-input {
	width: 100%;
	color: f6f6f6;
	position: absolute;
	bottom: -1px;
}
.chat-input input {
	background: #383838;
/*	background: #567E66; */
	color: #DFE5D3;
    padding: 5px 0px 5px 5px;
	border: 0px none;
	width: 100%;
	outline: 0px solid transparent;
}
.rtc-icon {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}

